* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000512;
    --pr-color-opacity: #000512a6;
    --secondly-color: #d9fff1;
    --cd-color-opacity: #d9fff132;
    --bcg-color: #92f2cf;
    --bcg-color-opacity: #92f2cf41;
    --section-color: #ffff00;
    --font-heading: "Rubik Mono One", monospace;
}

html {
    font-size: 62.5%;
}

/*Khôi phục mặc định đơn vị font cho rem*/
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/*=========================== common ===========================*/
a {
    text-decoration: none;
}

.main-content {
    width: 117rem;
    max-width: calc(100% - 4.8rem);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 11.8rem;
    padding: 0 1.6rem;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 999px;
    background: var(--primary-color);
}

.heading-lv2 {
    font-family: var(--font-heading);
    font-size: 2rem;
    line-height: 1.2;
    color: #d9fff1;
    text-align: left;
    display: inline-block;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, rgba(251, 63, 63, 1) 0%, rgba(63, 251, 154, 1) 13%, rgba(229, 90, 156, 1) 27%, rgba(202, 86, 86, 1) 45%, rgba(80, 172, 166, 1) 51%, rgba(94, 119, 149, 1) 53%, rgba(113, 216, 75, 1) 65%, rgba(209, 84, 181, 1) 80%, rgba(63, 251, 179, 1) 91%, rgba(251, 63, 63, 1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 2.5rem;
    animation: animated 10s linear infinite;
}

@keyframes animated {
    to {
        background-position-x: 200rem;
    }
}

/*=========================== header ===========================*/
.header {
    background: var(--bcg-color);
}

.header.fixed {
    position: sticky;
    position: -webkit-sticky;
    top: -2.8rem;
    z-index: 10001;
}

.logo {
    height: 5rem;
    width: 5rem;
}


.header .body {
    display: flex;
    align-items: center;
    padding: 3.6rem 0 0.8rem;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #475168;
    padding: 0.8rem 2.1rem;
    position: relative;
}

.nav a:hover {
    color: var(--primary-color);
    /* font-weight: 600;    Dùng fw làm cho chữ to nhỏ bất thường không tối ưu*/
    text-overflow: 1px 0 10px currentColor;
    border-radius: 999px;
    border: 1px solid var(--secondly-color);
    box-shadow: 0.5rem 0.5rem 2rem var(--primary-color);
    -webkit-box-shadow: 0.5rem 0.5rem 2rem var(--primary-color);
    transition: all 300ms ease-in;
}


.header .btn-sing-up {
    min-width: 11.4rem;
    text-shadow: var(--section-color) 1px 0 10px;
}

.header .btn-sing-up:hover {
    background-color: var(--section-color);
    text-shadow: var(--primary-color) 1px 0 10px;
    color: var(--primary-color);
    transition: all 250ms ease-in;
}

.header .action {
    margin-left: 4.9rem;
}

/*=========================== hero ===========================*/
.hero {
    background-color: var(--bcg-color);
}

.hero .main-content {
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.hero .body {
    padding: 5rem;
    width: 100%;
    height: calc(100% - 50rem);
    display: flex;
    background-color: var(--bcg-color);
    background-image: url(../image/bcg/bcg_04.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: var(--cd-color-opacity) 2px solid;
    box-shadow: 0px 10px 40px 10px var(--primary-color);
}

/*======================= Hero left =========================*/
.hero .hero-left {
    width: 30%;
    height: auto;
    display: flex;
    flex-flow: column;
}


.hero .hero-avatar {
    display: flex;
    justify-self: center;
    align-self: center;
    object-fit: cover;
}

.hero .hero-avatar .img {
    width: 20rem;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(21px 11px 19px var(--primary-color));
}

.hero .info-summary {
    background-color: var(--secondly-color);
    border-radius: 10px;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    flex-basis: 15rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.hero .item {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 2rem;
}

.hero .item:first-Child {
    margin-top: 1rem;
}

.hero .icon {
    padding-left: 1rem;
    flex-basis: 15rem;
    max-width: 15%;
}

.hero .fix-icon {
    width: calc(100% - 0.8rem);
    height: calc(100% - 0.8rem);
    display: flex;
    justify-self: center;
    align-items: center;
}

.hero .label {
    margin-left: 0.5rem;
}

.hero .note {
    font-size: 1rem;
    font-weight: 400;
    color: var(--pr-color-opacity);
}

.hero .content {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}

/*======================= hero right =======================*/
.hero .hero-right {
    width: 70%;
    height: auto;
    padding-left: 5rem;
    padding-top: 5rem;
    display: flex;
    flex-flow: column;
}

.hero .heading {
    font-family: var(--font-heading);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    color: #d9fff1;
    padding-bottom: 3rem;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff 0%, #4158D0 17%, #C850C0 39%, #FFCC70 60%, #00fec3 80%, #ffffff 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animated 20s linear infinite;

}

.hero .hero-right p {
    color: var(--secondly-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
    text-indent: 2.5rem;
    text-align: justify;
    text-shadow: var(--cd-color-opacity) 1px 0 10px;
}

.hero .hero-right .welcome {
    padding-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    text-indent: -2.5rem;
}

.hero .btn-see-story {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    align-self: center;
    margin-left: -2.5rem;
    background-color: var(--section-color);
    color: var(--primary-color);
    text-shadow: var(--primary-color) 1px 0 10px;
}

.hero .btn-see-story:hover {
    background-color: var(--primary-color);
    color: var(--section-color);
    text-shadow: var(--section-color) 1px 0 10px;
    transition: all 400ms ease;
}

.hero .hero-right .content-other {
    font-size: 0.8rem;
    text-align: center;
    text-indent: -2.5rem;

}

/*=======================bulkhead===========================*/

.bulkhead {
    display: flex;
    height: auto;
    max-width: auto;
    background-color: var(--primary-color);
}

.bulkhead .logo-2 {
    height: 5rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/*======================= about me =======================*/
.about-me {
    background-color: var(--bcg-color);
}

.about-me .main-content {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.about-me .body {
    padding: 5rem;
    width: 100%;
    height: calc(100% - 50rem);
    background-color: var(--bcg-color);
    background-image: url(../image/bcg/bcg_01.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: var(--cd-color-opacity) 2px solid;
    box-shadow: 0px 10px 40px 10px var(--primary-color);
}

.about-me img {
    width: 20rem;
    border-radius: 50%;
    border: var(--secondly-color) 2px solid;
    box-shadow: 0px 10px 40px 10px var(--bcg-color-opacity);
}

.about-me .content-summary {
    margin: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--secondly-color);
    margin-left: 8rem;
    margin-right: 10rem;
    ;
}

.about-me .btn-ab {
    flex-basis: 40rem;
    align-self: center;
    background-color: var(--section-color);
    color: var(--primary-color);
    text-shadow: var(--primary-color) 1px 0 10px;
}

.about-me .btn-ab:hover {
    background-color: var(--primary-color);
    color: var(--section-color);
    text-shadow: var(--section-color) 1px 0 10px;
    transition: all 400ms ease;
}

/*=================== about me left ========================*/
.about-me .a-me-before {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*=================== about me right ========================*/
.about-me .a-me-after {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}