* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000512;
    --pr-color-opacity: #000512a6;
    --secondly-color: #d9fff1;
    --cd-color-opacity: #d9fff132;
    --bcg-color: #92f2cf;
    --bcg-color-opacity: #92f2cf41;
    --section-color: #ffff00;
    --font-heading: "Rubik Mono One", monospace;
}

html {
    font-size: 62.5%;
}

/*Khôi phục mặc định đơn vị font cho rem*/
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*=========================== common ===========================*/
a {
    text-decoration: none;
}

.main-content {
    width: 117rem;
    max-width: calc(100% - 4.8rem);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 11.8rem;
    padding: 0 1.6rem;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 999px;
    background: var(--primary-color);
}

/*=========================== header ===========================*/
.header {
    background: var(--bcg-color);
}

.header.fixed {
    position: sticky;
    top: -2.8rem;
    z-index: 10001;
}

.logo {
    height: 5rem;
    width: 5rem;
}


.header .body {
    display: flex;
    align-items: center;
    padding: 3.6rem 0 0.8rem;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #475168;
    padding: 0.8rem 2.1rem;
    position: relative;
}

.nav a:hover {
    color: var(--primary-color);
    /* font-weight: 600;    Dùng fw làm cho chữ to nhỏ bất thường không tối ưu*/
    text-overflow: 1px 0 10px currentColor;
    border-radius: 999px;
    border: 1px solid var(--secondly-color);
    box-shadow: 0.5rem 0.5rem 2rem var(--primary-color);
    -webkit-box-shadow: 0.5rem 0.5rem 2rem var(--primary-color);
    transition: all 300ms ease-in;
}


.header .btn-sing-up {
    min-width: 11.4rem;
    text-shadow: var(--section-color) 1px 0 10px;
}

.header .btn-sing-up:hover {
    background-color: var(--section-color);
    text-shadow: var(--primary-color) 1px 0 10px;
    color: var(--primary-color);
    transition: all 250ms ease-in;
}

.header .action {
    margin-left: 4.9rem;
}

/*=========================== hero ===========================*/

.hero {
    padding: 5.6rem 0 6.5rem;
    background-color: var(--bcg-color);
}

.hero .body {
    display: flex;
    flex-flow: column;
    max-width: 117rem;
    justify-content: center;
    align-items: center;
}

/*=========================== hero before ===========================*/
.hero .media-block {
    background-color: var(--bcg-color);
    background-image: url(/assets/image/bcg/bcg_03.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    -webkit-box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero .media-block .img {
    max-width: 30%;
    width: 30%;
    height: 40%;
    display: block;
    object-fit: cover;
    margin: auto;
    border-radius: 10% 30% 10% 30%;
    border: var(--secondly-color) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 15%;
    left: 55%;
    right: 0;
    text-shadow: 1px 1px 2px var(--cd-color-opacity), 0 0 1em var(--secondly-color);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    width: 60%;
    border-radius: 999px;
    background-color: var(--cd-color-opacity);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    border: var(--bcg-color-opacity) 1px solid;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.hero-summary .item+.item {
    margin-top: 1rem;
}


.hero-summary .bcg-icon {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bcg-color);
    box-shadow: 1px 1px 2px var(--cd-color-opacity), 0 0 1em var(--secondly-color), 0 0 0.2em var(--secondly-color);
    -webkit-box-shadow: 1px 1px 2px var(--cd-color-opacity), 0 0 1em var(--secondly-color), 0 0 0.2em var(--secondly-color);
}

.hero-summary .icon {
    height: 1.5rem;
    width: 1.5rem;
}

.hero-summary .info {
    margin-left: 1rem;
}

.hero-summary .label {
    color: var(--pr-color-opacity);
    font-size: 40%;
    font-weight: 500;
    line-height: 1.5;
}

.hero-summary .tittle {
    color: var(--primary-color);
    font-size: 66%;
    font-weight: 700;
    line-height: 1;
}

/*=========================== hero after ===========================*/
.hero .content-block {
    width: 70%;
    height: auto;
    padding-left: 2rem;
    padding-top: 4.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero .heading {
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 3.2rem;
    line-height: 1.17;
    font-weight: 400;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: inline-block;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero .desc {
    color: var(--pr-color-opacity);
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .btn-see-story {
    margin-top: 3.8rem;
    background-color: var(--section-color);
    text-shadow: var(--primary-color) 1px 0 10px;

}

.btn-see-story:hover {
    background-color: var(--primary-color);
    text-shadow: var(--section-color) 1px 0 10px;
    transition: all 300ms linear;
}

.desc-other {
    margin-top: 4.8rem;
    align-self: center;
}

.hero .stats {
    margin-top: 8px;
    align-self: center;
}

.hero .stats strong {
    margin-right: 15px;
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.23;
}

.hero .stats strong:nth-child(2) {
    margin-left: 3rem;
}