body {
    width: 100vw;
    height: 100vh;
    background-image: url(../image/bcg/bcg_01.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}